.Card {
  -moz-box-shadow: 1px 1px 1px 1px #efefef;
  -webkit-box-shadow: 1px 1px 1px 1px #efefef;
  box-shadow: 1px 1px 1px 1px #efefef;
}

.Header {
  display: flex;
  justify-content: flex-end;
  border: none;
  background: none;
}

.Title {
  color: #646464;
  padding: 10px;
  font-weight: 400;
  margin: auto;
}

.Date {
  position: absolute;
  font-size: 10px;
  color: #a09898;
  right: 12px;
  top: 12px;
}

.CardBody {
  padding: 0;
}

.CardBody img {
  border-radius: 0;
}
