.Card {
  margin-bottom: 38px;
  -moz-box-shadow: 1px 1px 1px 1px #efefef;
  -webkit-box-shadow: 1px 1px 1px 1px #efefef;
  box-shadow: 1px 1px 1px 1px #efefef;
}

.CardTitle,
.CardText {
  color: #646464;
}

.CardTitle {
  font-weight: 400;
}
